<div class="jumbotron">
	<div class="text-center">
		<h2 >Qiankun's Auction System</h2>
		<form ng-if="!currentUser" class="form-inline">
			<div class="form-group">
				<input class="form-control span1"
					   type="text"
					   ng-attr-placeholder="Please Enter User Name"
					   ng-model="model.userName"/>
			</div>
			<button class="btn btn-primary" ng-click="login()">Enter</button>
		</form>
	</div>
	<div ng-if="currentUser" class="row">
		<user-widget current-user="currentUser"></user-widget>
		<inventory-widget current-user="currentUser"></inventory-widget>
		<auction-widget current-user="currentUser"></auction-widget>
		<!-- <div class="col-sm-4 well" ng-click="getInventory()">
			<p>Inventory</p>
			<div ng-repeat="inventory in inventories"></div>
		</div> -->
		<!-- <div class="col-sm-4 well">
			{{currentUser.name}}
			{{currentUser.coins}}
		</div> -->
	</div>
</div>
